<!DOCTYPE html>
<html>
 <!--  cabeçalho -->
 <head>
 	<!-- pode ser no charset utf-8 -->
 	<meta charset="ISO-8859-1">
 	<title>Grupo de Discussão - Aplicação Spring Boot Data JPA</title>
 	<link rel="stylesheet" href="estilo.css">
 </head>
 <!--  corpo da página -->
 <body>
  	<div id="topo">
  		 <h1>Aplicação Spring Boot Data JPA</h1>
  	</div>
  	<div id="corpo">
  		<div id="menu">
  			<ul id="links">
		 		<li class="item"><a href="index.html">Home</a></li>
				<li class="item"><a href="grupo.html">Grupo</a></li>
		 		<li class="item">produtos</li>
		 		<li class="item">pedido</li>		
	  		</ul>	
  	
  		</div>
  	<div id="conteudo">
  		<h1>Grupos cadastrados</h1>
  	</div>
  </div>
 </body>
 <div id="rodape">
 	<h1>Rodapé</h1>
 </div>
</html>